openapi: 3.0.0
info:
  title: Open Foliant API
  description: Base foliant endpoints for creating your apps
  version: 1.0.0
  contact:
    name: Foliant
    email: brusnow.project@gmail.com
    url: https://github.com/FoliantMc
servers:
  - url: https://apifoliant.karpen.jp
    description: Main server
  - url: https://apifoliant.karpen.dev
    description: Main server (mirror)

paths:
  /api/public/id/with/name:
    get:
      summary: Get player id by player name
      description: Returns player id
      tags:
        - Player id

      parameters:
        - name: name
          in: query
          required: true
          description: Player name
          schema:
            type: string
            example: karpen

      responses:
        '200':
          description: Success - id retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerIdByNameResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBadRequest'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseObjectNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseServerError'

  /api/public/profile:
    get:
      summary: Get player public profile
      description: Returns public profile data for a specific user
      tags:
        - Public profile

      parameters:
        - name: userId
          in: query
          required: true
          description: Public user ID
          schema:
            type: integer
            minimum: 1
            example: 1

      responses:
        '200':
          description: Success - profile data retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicProfileResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBadRequest'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseObjectNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseServerError'

components:
  schemas:
    PlayerIdByNameResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        code:
          type: number
          example: 200
        timestamp:
          type: string
          example: 2026-07-08T10:25:19.061Z
        requestId:
          type: string
          example: b9e57561-223b-49c5-9487-9c2162dad830
        data:
          type: object
          properties:
            id:
              type: number
              description: Player id
              example: 1
      required:
        - success
        - code
        - timestamp
        - requestId
        - data

    PublicProfileResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        code:
          type: number
          example: 200
        timestamp:
          type: string
          example: 2026-07-08T10:25:19.061Z
        requestId:
          type: string
          example: b9e57561-223b-49c5-9487-9c2162dad830
        data:
          type: object
          properties:
            id:
              type: number
              example: 1
            name:
              type: string
              example: karpen
            rpName:
              type: string
              example: karpen
            isOnline:
              type: boolean
              example: false
            playerSkills:
              type: object
              description: This skills parse from game
              properties:
                farmer_skill_level:
                  type: number
                  example: 1
                miner_skill_level:
                  type: number
                  example: 2
                wood_cutter_skill_level:
                  type: number
                  example: 0
                pvp_skill_level:
                  type: number
                  example: 0
            enabledGradient:
              type: object
              properties:
                id:
                  type: string
                  example: flag_trans
                name:
                  type: string
                  example: 🏳️‍⚧️
                colors:
                  type: array
                  example: ["#5BCEFA", "#F5A9B8"]
                availableToBy:
                  type: boolean
                  description: Can buy this gradient now
                  example: false
                isEco:
                  type: boolean
                  description: 50% of this gradient donated by eco founds
                  example: false
            enabledBadge:
              type: object
              properties:
                icon:
                  type: string
                  example: ☁
                id:
                  type: string
                  example: cloud
                availableToBy:
                  type: boolean
                  description: Can buy this badge now
                  example: false
                isEco:
                  type: boolean
                  description: 50% of this badge donated by eco founds
                  example: false
            availableGradients:
              type: array
              example: {
                "id": "default",
                "name": "Стандартный",
                "colors": [
                  "#FFFFFF",
                  "#FFFFFF"
                ],
                "availableToBy": true,
                "isEco": false
              }
            availableBadges:
              type: array
              example: {
                icon": "",
                "name": "Без значка",
                "id": "default",
                "availableToBy": true,
                "isEco": false
              }
            availableParticles:
              type: array
              example: {
                "name": "Без партиклов",
                "id": "default"
              }
            createdAt:
              type: string
              example: 2026-04-28T12:36:49.456Z
      required:
        - success
        - code
        - timestamp
        - requestId
        - data

    ErrorResponseBadRequest:
      type: object
      properties:
        success:
          type: boolean
          example: false
        code:
          type: number
          example: 400
        timestamp:
          type: string
          example: 2026-07-08T10:25:19.061Z
        requestId:
          type: string
          example: b9e57561-223b-49c5-9487-9c2162dad830
        message:
          type: string
          example: "Unknown request parameters"
      required:
        - success
        - code
        - timestamp
        - requestId
        - message

    ErrorResponseObjectNotFound:
      type: object
      properties:
        success:
          type: boolean
          example: false
        code:
          type: number
          example: 404
        timestamp:
          type: string
          example: 2026-07-08T10:25:19.061Z
        requestId:
          type: string
          example: b9e57561-223b-49c5-9487-9c2162dad830
        message:
          type: string
          example: "Requested object not found"
      required:
        - success
        - code
        - timestamp
        - requestId
        - message

    ErrorResponseServerError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        code:
          type: number
          example: 500
        timestamp:
          type: string
          example: 2026-07-08T10:25:19.061Z
        requestId:
          type: string
          example: b9e57561-223b-49c5-9487-9c2162dad830
        message:
          type: string
          example: "Internal server error"
      required:
        - success
        - code
        - timestamp
        - requestId
        - message